# Bundler cache
.bundle
vendor

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Arquivos de ambiente
.env
.env.local

assets/audio/

_posts/2025/09/_2025-09-24-Inteligencia-Artificial-na-gestão-de-carreiras.md

