---
layout: default
---

<div class="home">

  {%- include hero.html -%}

  <div class="container-custom">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
    <section class="py-12 bg-[#072446]">
      <div class="container-custom">
        <div class="flex items-start">
          <h2 class="text-3xl font-bold text-[#71c3ec] mb-8 text-center">
            {{ page.list_title | default: "Entrevistas Recentes" }}
          </h2>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {%- for post in site.posts limit: 12 -%}
            {% include post-card.html %}
          {%- endfor -%}
        </div>

        {%- if site.posts.size > 6 -%}
          <div class="text-center mt-12">
            <a href="/blog" class="btn btn-primary">
              Ver todos os posts
            </a>
          </div>
        {%- endif -%}
      </div>
    </section>
  {%- endif -%}

</div>